body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #b499f8;
    margin-bottom: 20px;
}

.login-box {
    width: 300px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: #32cd32;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.login-button:hover {
    background-color: #28a745;
}

.back-button {
    width: 100%;
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #32cd32;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #28a745;
}

.footer {
    margin-top: 20px;
    font-size: 1em;
    color: #87ceeb;
}

.footer img {
    width: 150px;
    vertical-align: middle;
    margin-right: 5px;
}